body{
   background: url(./developer.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}

.heading{
   color: white;
   font-size: 40px;
   text-align: center;
   font-weight: bold;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img {  
   max-width: 100%;  
   height: 145px; 
   margin-top: -120px; 
}
.h1{   
   margin-left: 155px;
   margin-bottom: -2%;
}
.html{   
   padding-left: 66%;
   color: white;
   font-style: italic;
   font-size: 30px;
}
.ul{
   padding-left: 66%;
   color: white;
   font-style: italic;
   font-size: 30px;
}